{% macro about() %}
 <div class="user-details">
  <h1> Dr. Samson's Hippocratic Oath </h1>
  <p> {{ config.extra.user_description }} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>30 Years Dental Experience</h2>
      <i class="devicon-react-original colored"></i>
      <p>I started practicing dentistry in 1994. How times have changed!</p>
    </div>
    <div class="tech">
      <h2>5 Locations in the Philippines</h2>
      <i class="devicon-ssh-plain"></i>
      <p>San Juan, Tagaytay, Binondo, Parañaque, Makati</p>
    </div>
    <div class="tech">
      <h2>Implants and Orthodontic Services</h2>
      <i class="devicon-sourcetree-plain colored"></i>
      <p>General Dentistry and Orthodontics, Veneers, Surgery, Root Canal, Whitening, Smile Makeovers</p>
    </div>
</div>
{% endmacro about %}

{% macro projects() %}
<div class="user-details">
  <h1> Main Locations</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ config.base_url ~ "/img/mountains.jpg" }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ "/img/skate.jpg" }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
{% endmacro projects %}

